@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  scroll-behavior: smooth;
}

body {
  background-color: #000;
  color: #fff;
}

::selection {
  background-color: #6de4e8;
}

.degrade-blue {
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
  padding: 5px 0;
}

.swiper-pagination-bullet {
  background: #fff !important;
}

.swiper-pagination-bullet-active {
  background: rgba(0, 178, 218, 0.6) !important;
}

.slider-horizontal {
  display: flex !important;
  animation: swiper 5000ms linear infinite backwards;
}

@keyframes swiper {
  0% {
    transform: translate(0);
  }

  100% {
    transform: translate(-100%);
  }
}

@layer utilities {
}
